.synthone-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
  width: 100vw;
  gap: 5px;
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: Arial, sans-serif;
  text-align: center;
}
.synthone-container p {
  margin: 0;
}
.synthone-container button {
  margin: 0;
}
.bottom-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: rgb(82, 67, 67);
  padding: 10px;
}

.knobs {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.piano-container {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
