.piano {
  display: flex;
  position: relative;
  width: max-content;
  margin: 20px auto;
  border: 2px solid #333;
  border-radius: 8px;
  background: #111;
  padding: 5px;
}

/* Teclas blancas */
.white-key {
  position: relative;
  width: 60px;
  height: 200px;
  background: white;
  border: 1px solid #000000;
  border-radius: 4px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: bold;
  font-size: 14px;

  transition: background 0.1s;
}

/* Teclas negras */
.black-key {
  position: absolute;
  top: 0;
  left: 40px;
  width: 40px;
  height: 120px;
  background: rgb(0, 0, 0);
  border-radius: 4px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: bold;
  font-size: 12px;
  color: white;

  transition: background 0.1s;
}

/* Texto en las teclas */
.note-label {
  font-family: fantasy;
  margin-bottom: 8px;
  color: #333;
  font-weight: bolder;
}

.note-label-black {
  font-family: fantasy;
  margin-bottom: 6px;
  color: white;
  font-weight: bold;
}
